* {
    padding: 0px;
    margin: 0px;
}

#navigation {
    width: 100vw;
    height: 56px;
    display: flex;
    justify-content: space-around;
    
}

#guide {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#logo {
    height: 24px;
    width: 80px;
    cursor: pointer;
}

#icons {
    height: 40px;
    width: 252px;
    cursor: pointer;
}
#searchButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 65px;
}

#imageSearchButton {
   font-size: 15px; 
   color: grey;
}
#searchContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
}

#search {
    width: 575px;
    height: 26px;
}

#guideContainer {
    display: flex;
    justify-content: center;
}

.guideLogo {
    padding-left: 10px;
}