* {
    padding: 0px;
    margin: 0px;
}
/* styling navigation bar */

#navigation {
    width: 1287px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 16px; 
    font-family: Roboto, Arial, sans-serif;
}

#guideContainer {
    display: flex;
    justify-content: center;
}

#guide {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#logo {
    height: 24px;
    width: 80px;
    cursor: pointer;
}

.guideLogo {
    padding-left: 10px;
}

#searchContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
}

#search {
    width: 575px;
    height: 26px;
}

#searchButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    width: 65px;
}

#icons {
    height: 40px;
    width: 252px;
    cursor: pointer;
}

#imageSearchButton {
   font-size: 15px; 
   color: grey;
}

/* styling the main content */

#mainContent {
    min-height: 4163px;
    display: flex;
    justify-content: flex-end;
}

#main {
    padding-top: 24px;
    margin-left: 24px;
    padding-right: 24px;
    background-color: purple;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#videoTitle {
    font-weight: 400;
    font-size: 1.8rem;
}

#mainVideo {
    width: 825px;
    height: 528px;
    left: 0px;
    top: 0px;

}
#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social {
    padding: 0 15px;
}
#icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}


/* Sidebar */
#sidebar {
    background-color: red;
    width: 31vw;
    min-height: 4163px;

}