#navigation {
    width: 100vw;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align
}

#logo {
    height: 24px;
    width: 80px;
}

#icons {
    height: 40px;
    width: 252px;
}